.container {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;

  --delay: 1;
  --i: 7;
}
.view {
  width: 1em;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  border: 0.1em solid red;
  overflow: hidden;
  animation: enhance-bounce-in-down 1s calc(var(--delay) * 1s) forwards;
}

.list {
  width: 100%;
  height: 1100%;
  list-style-type: none;
  animation: move .3s linear infinite,
    bounce-in-down 1s calc(var(--delay) * 1s) forwards;
}

.list li {
  height: 2em;
  text-align: center;
}

@keyframes move {
  from {
    transform: translateY(0);
    /* filter: blur(0.1em); */
  }
  to {
    transform: translateY(-100%);
    /* filter: blur(0.1em); */
  }
}

@keyframes bounce-in-down {
  /* 起始从上面开始弹起 */
  from {
    transform: translateY(calc(var(--i) * -9.09% - 7%));
    filter: none;
  }
  25% {
    transform: translateY(calc(var(--i) * -9.09% + 3%));
  }
  50% {
    transform: translateY(calc(var(--i) * -9.09% - 1%));
  }
  70% {
    transform: translateY(calc(var(--i) * -9.09% + 0.6%));
  }
  85% {
    transform: translateY(calc(var(--i) * -9.09% - 0.3%));
  }
  to {
    transform: translateY(calc(var(--i) * -9.09%));
  }
}

@keyframes enhance-bounce-in-down {
  25% {
    transform: translateY(8%);
  }
  50% {
    transform: translateY(-4%);
  }
  70% {
    transform: translateY(2%);
  }
  85% {
    transform: translateY(-1%);
  }
  to {
    transform: translateY(0);
  }
}
