html,
body,
#root {
  width: 100%;
  height: 100%;
}

.FancyBorder {
  padding: 10px 10px;
  border: 10px solid;
}

.FancyBorder-blue {
  border-color: blue;
}
.FancyBorder-red {
  border-color: red;
}
.FancyBorder-grey {
  border-color: grey;
}

.Dialog-title {
  margin: 0;
  font-family: sans-serif;
}

.Dialog-message {
  font-size: larger;
}

.SplitPane {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  width: 50%;
  height: 100%;
}

.SplitPane-right {
  height: 100%;
  flex: auto;
}

.left-content {
  width: 100%;
  height: 100%;
  background: lightblue;
}

.right-content {
  width: 100%;
  height: 100%;
  background: pink;
}
