h1 {
  display: inline-block;
  position: relative;
}

h1::before {
  content: "";
  display: block;
  position: absolute;
  /* height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  background-color: antiquewhite;
  transition: transform 0.3s ease;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
